@CHARSET "UTF-8";
@font-face {
  font-family: "Colaborate-Thin";
  src: url("Colaborate/ColabThi.eot");
  src: url("Colaborate/ColabThi.woff") format("woff"), url("Colaborate/ColabThi.ttf") format("truetype"), url("Colaborate/ColabThi.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Colaborate-Light";
  src: url("Colaborate/ColabLig.eot");
  src: url("Colaborate/ColabLig.woff") format("woff"), url("Colaborate/ColabLig.ttf") format("truetype"), url("Colaborate/ColabLig.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: whitesmoke; }

body, .pure-g [class*="pure-u"], .pure-g-r [class*="pure-u"] {
  font-family: Colaborate-Thin, DejaVu, sans-serif; }

h2 {
  color: #787878; }

ul {
  list-style: none; }

.pure-form input {
  border-radius: 0 !important;
  box-shadow: none !important;
  background-image: none !important;
  font-size: 0.9em !important;
  padding-top: 0.7em !important;
  padding-bottom: 0.7em !important; }

.pure-form input:focus {
  border: 1px solid #7e0080 !important; }

.pure-form-aligned .pure-control-group label {
  width: 3em; }

.pure-button {
  font-size: 0.9em !important;
  padding-top: 0.7em !important;
  padding-bottom: 0.7em !important;
  background-image: none !important;
  border-radius: 0 !important;
  background-color: #a379a3;
  color: white;
  font-size: 0.8em; }
  .pure-button:active {
    background-color: #be8dbe; }

.chemis-green-button {
  background-color: #66a268;
  color: white; }

.chemis-blue-button {
  background-color: #667fa2;
  color: white; }

.chemis-red-button {
  background-color: #a2666a;
  color: white; }

/*chemis */
#chemis-page {
  position: absolute !important;
  z-index: 2;
  left: 0;
  top: 3em;
  bottom: 0;
  margin: 0;
  width: 100%;
  overflow-x: none;
  overflow-y: auto;
  display: block; }

#chemis-header {
  font-family: Colaborate-Light, DejaVu, sans-serif;
  display: block;
  position: absolute;
  z-index: 10 !important;
  width: 100%;
  height: 2.4em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  background-color: #563d7c;
  left: 0;
  top: 0;
  box-shadow: 0 2px 2px #694a97; }
  #chemis-header > a {
    float: left;
    height: 2.4em;
    margin-right: 0.5em;
    margin-left: 0.5em; }
    #chemis-header > a img {
      height: 2.1em; }
    #chemis-header > a img.logo {
      padding: 2px;
      background-color: rgba(255, 255, 255, 0.3); }
  #chemis-header #chemis-tool-bar {
    background: none !important; }
    #chemis-header #chemis-tool-bar li {
      margin-left: 0 !important;
      text-align: center; }
      #chemis-header #chemis-tool-bar li a {
        color: white !important;
        border-radius: 0.1em;
        text-decoration: none;
        vertical-align: middle; }
        #chemis-header #chemis-tool-bar li a img, #chemis-header #chemis-tool-bar li a span {
          vertical-align: middle; }
        #chemis-header #chemis-tool-bar li a span {
          margin-left: 0.2em; }
      #chemis-header #chemis-tool-bar li a:hover {
        background: rgba(255, 255, 255, 0.3); }
      #chemis-header #chemis-tool-bar li a:active {
        background: rgba(255, 255, 255, 0.5); }
      #chemis-header #chemis-tool-bar li a:focus {
        background: none !important; }
    #chemis-header #chemis-tool-bar .pure-menu-selected a {
      color: #464646 !important;
      background: whitesmoke !important; }

#chemis-menu {
  font-family: Colaborate-Light, DejaVu, sans-serif;
  position: static;
  position: fixed;
  width: 15em;
  bottom: 0;
  top: 3em;
  background-color: #1f1f1f;
  border-right: 1px #707070 solid;
  z-index: 9;
  left: -15em;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  #chemis-menu.open {
    left: 0 !important; }
  #chemis-menu ul {
    height: 100%;
    list-style: none;
    margin: 0;
    border: none;
    background: none; }
    #chemis-menu ul li {
      color: white !important;
      width: 100% !important;
      margin-bottom: 0.1em !important; }
      #chemis-menu ul li a {
        padding: 0 !important;
        color: white !important; }
        #chemis-menu ul li a span {
          margin-left: 0.5em; }
        #chemis-menu ul li a img {
          height: 2.4em !important; }
        #chemis-menu ul li a img, #chemis-menu ul li a span {
          vertical-align: middle;
          text-align: center; }
      #chemis-menu ul li a:hover {
        background-color: rgba(225, 225, 225, 0.3); }
      #chemis-menu ul li a:active {
        background-color: rgba(225, 225, 225, 0.5); }

#chemis-menu-mask {
  left: 0;
  top: 0;
  z-index: -1;
  position: static;
  position: fixed;
  width: 100% !important;
  height: 100%;
  background-color: black;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  #chemis-menu-mask.open {
    z-index: 8 !important;
    display: inherit !important;
    opacity: 0.7 !important; }

#chemis-item-settings a img {
  background-color: #ca3333; }

#chemis-item-dixon a img {
  background-color: #43ca33; }

#chemis-item-help a img {
  background-color: #33cac2;
  bottom: 0; }

/*==========CLASSES========== */
.chemis-login-link {
  float: right;
  display: inline-block;
  margin-right: 1em; }

.chemis-panel {
  padding: 0em; }

.chemis-dixon-panel {
  padding-left: 2em;
  padding-right: 2em;
  display: block;
  position: relative; }

.chemis-button-group {
  background-color: #a379a3;
  bottom: 0;
  left: 0;
  top: auto;
  width: 100%;
  position: static;
  position: fixed;
  height: 48px; }
  .chemis-button-group button {
    height: 100%; }
